
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #2196f3;
$secondary: #616161;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #d32f2f;
$orange: #f6993f;
$yellow: #ffeb3b;
$green: #38c172;
$teal: #009688;
$cyan: #6cb2eb;
