.ui.left.fixed.vertical.menu.drawer {
	display: none;
	z-index: 103;
	left: 0px;
	border: 0;
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
	width: 17rem;
}
.ui.left.fixed.vertical.menu.drawer .menu-nav{
	overflow-y: auto;
	overflow-x: hidden;
	height: 78%;
	width: 100%;
}
.drawer-bg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 102;
}