<template>
    <div>
        <!-- Navbar -->
        <navbar-normal></navbar-normal>

        <!-- Router View - Content Page -->
        <router-view></router-view>
    </div>
</template>

<script>
import NavbarNormal from "./../components/NavbarNormal.vue"
export default {
    components: {
        NavbarNormal
    },
    metaInfo: {
        titleTemplate: '%s | ShareILmu'
    }
}
</script>
