/* your styles go here */
/*.paginate_button{
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    text-decoration: none;
    /*font-weight: bold;
    border: 1px solid #796aee6c;
    border-right: 0px;
    text-align: center;

}
.paginate_button:hover{
    text-decoration: none;
    background-color: rgba(7, 7, 22, 0.158);
}
.paginate_button.previous{
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
}
.paginate_button.next{
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
    border-right: 1px solid #796aee6c;

}*/
table{
    min-width: 100%;
}
.dataTables_scrollHeadInner{
    min-width: 100%;
}