<?php 
  session_start();
  if (!isset($_SESSION['username'])) {
    header("location:../../index.php");
  }else{
?>

<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Dasboard</title>

    <!-- Bootstrap core CSS -->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../assets/dashboard.css" rel="stylesheet">
    <link href="../../assets/footer.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background: #1299FF">
      <a class="navbar-brand" href="#"><?php echo $_SESSION['nama_lengkap'];?></a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <form class="form-inline mt-2 mt-md-0" action="cari.php" method="post">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="cari">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background: white; color: #1299FF;cursor: pointer;">Search</button>
        </form>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link " href="index.php">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../member/pesanan.php">Pesanan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Promo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Paket</a>
              <li class="nav-item">
              <a class="nav-link" href="../../logout.php">Logout</a>
            </li>
          </ul>
          </ul>
        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
          <h2>Paket paling disukai</h2>
          <br>
          <div class="row" style="margin: 5px; padding: 5px;">
          <?php
          include "../../koneksi/koneksi.php";
          $tampil=mysqli_query($koneksi,"SELECT *FROM paket");
          while ($a=mysqli_fetch_array($tampil)) {
          ?>
          <div class="col-md-4" style="border: 1px solid grey; border-radius: 2px; margin-bottom: 5px; padding-right: 5px;">
          <div class="container" style="margin-right: 4px;">
            <input type="hidden" name="id_paket" value="<?php echo $a['id_paket'];?>">
            <p align="center" class="text-info" style="font-size: 20px;"><?php echo $a['nama_paket'];?>
            <br>
            <img src="../../assets/img/images.png" width="110" height="50"></p>
            <div class="thumbnail">
              <img src="<?php echo $a['image'];?>" class="image-responsive" width="230" height="200" style="cursor:pointer;">
          </div>
          <button style="background: #1299FF;margin:5px; color: white; border-radius: 5px;text-decoration:none;"><a href="../../member/booking/booking.php?id_paket=<?php echo $a['id_paket'];?>" class="btn" style="text-decoration:none;color: white;">Booking</a></button>
          <p><?php echo $a['jam_buka'];?></p>
            </div>
          </div>
          <?php 
          }
          ?>
          </div>
                  <footer class="footer" style="background: #1299FF;color: white; height: 50px;float: bottom;position: bottom;">
      <div class="container" style="background: #1299FF;color: white;">
        <span style="color: white;">copyright &copy 2017 || Create By Abdul Rohman Masrifan</span>
      </div>
    </footer>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="a../../ssets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
<?php 
}
?>