<template>
    <div class="container">

        <div class="card" v-if="posts.length == 0">
            <div class="card-body" style="text-align:center;">Getting data...</div>
        </div>
        <div class="row">
            <div class="col-sm-4 d-flex pb-3" v-for="(n, index) in posts" :key="index">
                <div class="card">
                    <img :src="n.urlToImage" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ index }} - {{ n.title }}</h5>
                        <p class="card-text">{{ n.description }}</p>
                        <!-- <router-link :to="{ name: 'post', params: {slug: '123'} }" tag="a" class="btn btn-primary">Detail</router-link> -->
                        <button @click="detail(n, index)" class="btn btn-block btn-primary" style="position:absolute;bottom:0;left:0;">View Detail</button>
                    </div>
                </div>
            </div>
        </div>
        <button :disabled="btnMore" v-if="posts.length > 0" class="btn btn-block btn-secondary" @click="loadMore">Load More</button>
    </div>
</template>
<script>
export default {
    data(){
        return {
            btnMore: false,
            posts: [],
            currentUrl: window.baseurl + this.$route.fullPath
        }
    },

    metaInfo () {
        return {
            title: 'ShareILmu - a place to read and write lots of ideas and knowledge',
            titleTemplate: null,
            meta: [
                {property: 'og:title', content: 'ShareILmu - a place to read and write lots of ideas and knowledge'},
                {property: 'og:site_name', content: 'ShareILmu'},
                {property: 'og:type', content: 'website'},
                {property: 'og:url', content: this.currentUrl},
                {property: 'og:image', content: 'https://www.my-site.com/my-special-image.jpg'},
                {property: 'og:description', content: 'a place to read and write lots of ideas and knowledge, Read and write your brilliant ideas and knowledge to spread to many people!'}
            ]
        }
    },

    mounted(){
        setTimeout(() => { window.nprogress.start(); this.loadMore() }, 100)
    },
    methods: {
        detail(n, id){
            this.$store.commit('setTempArticles', n)
            let newSlug = id + "-" +n.source.id + "@" + this.string_to_slug(n.content)
            this.$router.push("/post/"+newSlug)
        },
        string_to_slug(str) {
            str = str.replace(/^\s+|\s+$/g, ""); // trim
            str = str.toLowerCase();

            // remove accents, swap ñ for n, etc
            var from = "åàáãäâèéëêìíïîòóöôùúüûñç·/_,:;";
            var to = "aaaaaaeeeeiiiioooouuuunc------";

            for (var i = 0, l = from.length; i < l; i++) {
                str = str.replace(new RegExp(from.charAt(i), "g"), to.charAt(i));
            }

            str = str
                .replace(/[^a-z0-9 -]/g, "")
                .replace(/\s+/g, "-")
                .replace(/-+/g, "-")
            return str
        },
        loadMore() {
            this.btnMore = true
            window.nprogress.set(0.4)
            this.axios('http://newsapi.org/v2/everything?q=programming&domains=techcrunch.com,techinasia.com&apiKey=36215e43a791497a80e946594e8ed295', {
                onDownloadProgress: (progressEvent) => {
                    let percentCompleted = Math.round((progressEvent.loaded * 100) / progressEvent.total);
                    // console.log(progressEvent.lengthComputable)
                    // console.log(percentCompleted);
                    if (progressEvent.lengthComputable) {
                        window.nprogress.inc()
                    } else {
                        window.nprogress.set(0.4)
                    }
                }
            }).then((res) => {
                let maxPost = this.posts.length + 9
                res.data.articles.map((item, key) => {
                    if (this.posts.length < maxPost) {
                        window.nprogress.inc()
                        this.posts.push(item)
                    }
                })
                window.nprogress.done()
                this.btnMore = false
            })

        }
    }
}
</script>
