<template>
    <div class="container">       
        <div v-if="!this.$store.state.article">
            No article selected.
        </div>
        <div v-else class="row justify-content-md-center">
            <div class="col-12">
                <img :src="article.urlToImage" alt="Card image cap" class="img-fluid" style="width: 100%;"> 
                <p class="card-text"><small class="text-muted">{{ article.publishedAt }} - {{ article.author }} - {{ article.source.name }}</small></p>
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.content }}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted(){
    },
    metaInfo: {
        title:  "Post ",
        meta :  [
            { property: 'og:site_name', content: 'ShareILmu' },
        ]
    },
    data(){
        return {
            article: this.$store.state.article
        }
    }
}
</script>

