<template>    
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <router-link tag="a" class="navbar-brand" to="/">ShareILmu</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Programming</a>
                        <a class="dropdown-item" href="#">Design</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" style="display:blockl;text-align:center;">
                            More Categori
                        </a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-primary" href="#">
                        Sign In
                    </a>
                </li>
                <button class="btn btn-outline-success">Get Started</button>
            </ul>
        </div>
    </nav>
</template>
